$borderColor: #46454e;

.left {
  .left__top {
    padding: 20px 30px;
    border-bottom: 0.1px solid $borderColor;
    height: 155px;
    margin-top: -3px;
    letter-spacing: .04em;

    .input__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #202225;
      color: #8d8e92;
      padding: 8px 10px;
      border-radius: 8px;
      margin-top: 15px;
      border: 1px solid black;
      min-width: 300px;

      .input__and_label {
        display: flex;
        align-items: center;
        width: calc(100% - 165px);

        input {
          background-color: #202225;
          border: none;
          color: #202225;
          outline: none;
          width: 100%;
        }

        .input__cover {
          position: absolute;
          margin-left: 2px;
          color: white;
          display: flex;
        }

      }

      button {
        background-color: #3c438c;
        color: #8d8e92;
        font-size: 14px;
        border-radius: 5px;
        padding: 5px 15px;
        font-weight: 500;
        border: none;

        &:enabled {
          border: none;
          background-color: #3c438c;
          color: white;
          font-size: 14px;
          border-radius: 3px;
          padding: 5px 15px;
          font-weight: 500;
        }
      }
    }
  }

  .left__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8) translate(20px, -130px);
    pointer-events: none;
    position: relative;
    z-index: -3;
    height: 100%;
    width: 100%;
  }
}